.SectionUno{
    height: 90vh;
    width: 100%;
    overflow: hidden;
    transition: all 500ms ease;

    @media only screen and (max-width:480px){
        height: 40vh;
    }
    
    @media only screen and (max-width:960px){
        height: 40vh;
    }

    img{
        margin-bottom: 50%;
        width: 100%;
        height: 100%;
    }
   
}



